body {
    margin: 0;
    padding: 25px;
    box-sizing: border-box;
    background: rgb(13, 13, 13);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.card-container {
    padding: 40px;
    width: fit-content;
    
}

.card {
    padding: 18px;
    background: rgb(30, 29, 29);
    border-radius: 12px;
    width: fit-content;
    

}
.inside-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100px;
    border-radius: 50%;
    
}

    

.name {
    color: white;
    font-size: large;
    text-align: center;
    margin: 5px;
    

    
}
.location {
    color: yellow;
    font-size: 13px;
    text-align: center;
    margin: 3px;
    
}
.more-desc {
    color: #fff;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    
}

.site {
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 0.5rem;
    border-radius: 8px;
    background: rgb(43, 39, 39);
    cursor: pointer;
    margin: 10px;
    
    
}
.site:hover {
    background: rgb(132, 132, 73);
}
footer {
    color: #fff;
    /* text-align: center; */
    padding: 15px;
    background: rgb(43, 39, 39); 
    width: fit-content;
    border-radius: 20px;
}

/* First, we target small screens */

@media only screen and (max-width: 640px) {

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: rgb(13, 13, 13);
    }
    .card-container {
        padding: 40px;
        
    }
    
    .card {
        padding: 40px;
        background: rgb(30, 29, 29);
        border-radius: 12px;
        

    }
    .inside-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    img {
        width: 100px;
        border-radius: 50%;
    }
    .name {
        color: white;
        font-size: xx-large;
        text-align: center;
        margin: 5px;
    }
    .location {
        color: yellow;
        font-size: 17px;
        text-align: center;
        margin: 3px;
    }
    .more-desc {
        color: #fff;
        font-size: 19px;
        font-style: italic;
        text-align: center;
        
    }
    .site {
        text-align: center;
        color: #fff;
        font-size: 20px;
        padding: 0.8rem;
        border-radius: 8px;
        background: rgb(43, 39, 39);
    }
    footer {
        color: #fff;
        text-align: center;
        padding: 15px;
        background: rgb(43, 39, 39); 
        width: fit-content;
        border-radius: 20px;
        margin: 15px;
    }
    
}